@import "../../../styles/variables/variables"

.top-list
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    margin-top: clamp(24px,11.21472vw,96px)

    .tablet-top-list, .pc-top-list
        display: none

    .top-swiper
        width: 100%
        height: auto
        display: flex
        flex-direction: row
        align-items: center
        margin-top: clamp(12px,5.60736vw,48px)

        .swiper-wrapper
            display: flex
            flex-direction: row

    .top-swiper-pc
        display: none

@media (min-width: 768px) and (max-width: 1024px)

    .top-swiper
        display: none !important

    .tablet-top-list
        width: 100%
        height: auto
        display: flex
        flex-direction: column
        margin-top: $m64tab

        .row
            width: 100%
            height: auto
            display: flex
            align-items: center
            justify-content: space-between
            margin-top: $m32tab

@media (min-width: 1024px)

    .tablet-top-list
        display: none

    .pc-top-list
        width: 100%
        height: auto
        display: flex

        .top-swiper-pc
            display: flex
