@import "../../../styles/variables/variables"

.attention-window
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    border: 1px solid $light_text
    border-radius: 8px

    .window-heading
        color: $primary_gray
        font-feature-settings: 'clig' off, 'liga' off
        font-family: Lato
        font-size: $font16mob
        font-style: normal
        font-weight: 600
        line-height: 125%
        margin-top: $m16mob

    .attention-row
        width: 90%
        height: auto
        margin-top: $m16mob
        display: flex
        align-items: center
        // border: 2px solid red

        .attention-icon
            color: $selected
            font-size: $font18mob

        .icon-text
            width: 100%
            color: $light_text
            font-feature-settings: 'clig' off, 'liga' off
            font-family: Lato
            font-size: $font14mob
            font-style: normal
            font-weight: 400
            line-height: 142.857%
            margin-left: $m8mob

    .next
        margin-bottom: $m16mob

.tablet-content
    display: none

.possible-products
    display: none

@media (min-width: 768px) and (max-width: 1024px)

    .tablet-content
        width: 100%
        display: flex !important
        flex-direction: column
        align-items: center

        .tablet-container
            width: 100%
            height: auto
            display: flex
            align-items: center
            justify-content: space-between

            .illustration
                width: clamp(179px,42.92565947242206vw,716px)
                height: clamp(213.5px,51.199040767386094vw,854px)
                margin-right: $m16tab

            .attention-window
                width: clamp(227px,54.436450839328536vw,908px) !important
                height: auto

                .window-heading
                    color: $primary_gray
                    font-feature-settings: 'clig' off, 'liga' off
                    font-family: Lato
                    font-size: $font18tab
                    font-style: normal
                    font-weight: 600
                    line-height: 125%
                    margin-top: $m32tab

                .attention-icon
                    font-size: $font18tab

                .icon-text
                    font-size: $font18tab

    .possible-products
        width: 100%
        height: auto
        background-color: #F5F5F5
        display: flex !important

        .cards
            width: 80%
            display: flex
            flex-direction: row !important
            align-items: center
            justify-content: space-between
            margin: auto

            .card
                width: clamp(103px,24.700239808153476vw,412px)
                height: auto
                display: flex
                justify-content: center
                background-color: $white
                margin-top: $m32tab
                margin-bottom: $m32tab

                .card-content
                    width: 80%
                    height: auto
                    margin-top: $m8tab
                    margin: auto
                    margin-bottom: $m16tab

                    .card-title
                        color: #000
                        font-feature-settings: 'clig' off, 'liga' off
                        font-family: Lato
                        font-size: $font18tab
                        font-style: normal
                        font-weight: 600
                        line-height: 125%

                    .rating-container
                        display: flex
                        align-items: center

                        .star
                            color: $star
                            font-size: $font14tab
                            margin-top: $m8tab
                            margin-bottom: $m8tab

                    .price
                        color: $discount
                        font-feature-settings: 'clig' off, 'liga' off
                        font-family: Lato
                        font-size: $font16tab
                        font-style: normal
                        font-weight: 800
                        line-height: 142.857%
                        margin-top: $m8tab !important
                        margin-bottom: $m16tab !important
