@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.menu {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
}
.menu .menu-header-container {
  width: 100%;
  height: auto;
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu .menu-header-container .menu-header {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: clamp(16px, 7.47648vw, 64px);
  margin-bottom: clamp(16px, 7.47648vw, 64px);
}
.menu .menu-header-container .menu-header .burger {
  float: left;
}
.menu .menu-header-container .menu-header .menu-heading {
  margin: auto;
}
.menu .container .tab-heading-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.menu .container .tab-heading-container .tab-heading {
  color: #FF7A00;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
  margin-top: clamp(8px, 3.73824vw, 32px);
  margin-bottom: clamp(8px, 3.73824vw, 32px);
}
.menu .container .main-menu-content {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.menu .container .main-menu-content .menu-row {
  width: 89.2376681614%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: clamp(16px, 7.47648vw, 64px);
}
.menu .container .main-menu-content .menu-row .menu-section {
  width: clamp(72.5px, 33.8778vw, 290px);
  display: flex;
  flex-direction: column;
}
.menu .container .main-menu-content .menu-row .menu-section .menu-section-heading {
  color: #262626;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.menu .container .main-menu-content .menu-row .menu-section .links {
  display: flex;
  flex-direction: column;
}
.menu .container .main-menu-content .menu-row .menu-section .links .link {
  color: #555555;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  text-decoration: none;
  margin-top: clamp(4px, 1.86912vw, 16px);
  transition: 0.3s all;
}
.menu .container .main-menu-content .menu-row .menu-section .links .link:hover {
  color: #FF7A00;
}
.menu .container .main-menu-content .menu-columns {
  width: 89.2376681614%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: clamp(16px, 7.47648vw, 64px);
  margin-bottom: clamp(16px, 7.47648vw, 64px);
}
.menu .container .main-menu-content .menu-columns .column {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu .container .main-menu-content .menu-columns .column .menu-section {
  width: clamp(72.5px, 33.8778vw, 290px);
  display: flex;
  flex-direction: column;
}
.menu .container .main-menu-content .menu-columns .column .menu-section .menu-section-heading {
  color: #262626;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.menu .container .main-menu-content .menu-columns .column .menu-section .links {
  display: flex;
  flex-direction: column;
}
.menu .container .main-menu-content .menu-columns .column .menu-section .links .link {
  color: #555555;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  text-decoration: none;
  margin-top: clamp(4px, 1.86912vw, 16px);
  transition: 0.3s all;
}
.menu .container .main-menu-content .menu-columns .column .menu-section .links .link:hover {
  color: #FF7A00;
}
.menu .container .main-menu-content .menu-columns .column .under {
  margin-top: clamp(16px, 7.47648vw, 64px);
}
.menu .container .tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: clamp(16px, 7.47648vw, 64px);
}
.menu .container .tabs-container .tab {
  color: #555555;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  background-color: transparent;
  border: none;
  transition: 0.3s all;
}
.menu .container .tabs-container .tab:hover {
  color: #FF7A00;
}
.menu .container .tabs-container .next {
  margin-top: clamp(8px, 3.73824vw, 32px);
}
.menu .buttons-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: clamp(16px, 7.47648vw, 64px);
}
.menu .buttons-container .menu-btn {
  width: 90%;
  color: #262626;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(8px, 3.73824vw, 32px);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  border: none;
  margin-top: clamp(16px, 7.47648vw, 64px);
  transition: 0.3s all;
}
.menu .buttons-container .menu-btn:hover {
  color: #FF7A00;
}
.menu .buttons-container .last {
  margin-bottom: clamp(16px, 7.47648vw, 64px);
}/*# sourceMappingURL=menu_page.css.map */