@import "../../../styles/variables/variables"

.menu
    width: 100%
    height: auto
    background-color: $menu_bg

    .menu-header-container
        width: 100%
        height: auto
        display: flex
        background-color: $white
        flex-direction: row
        align-items: center
        justify-content: center

        .menu-header
            width: 90%
            height: auto
            display: flex
            flex-direction: row
            align-items: center
            margin-top: $m32mob
            margin-bottom: $m32mob

            .burger
                float: left

            .menu-heading
                margin: auto

    .container

        .tab-heading-container
            width: 100%
            height: auto
            display: flex
            justify-content: flex-start

            .tab-heading
                color: $selected
                font-feature-settings: 'clig' off, 'liga' off
                font-family: Lato
                font-size: $font14mob
                font-style: normal
                font-weight: 700
                line-height: 142.857%
                margin-top: $m16mob
                margin-bottom: $m16mob
