@import "../../../styles/variables/variables"

.menu
    width: 100%
    height: auto
    background-color: $menu_bg

    .menu-header-container
        width: 100%
        height: auto
        display: flex
        background-color: $white
        flex-direction: row
        align-items: center
        justify-content: center

        .menu-header
            width: 90%
            height: auto
            display: flex
            flex-direction: row
            align-items: center
            margin-top: $m32mob

            .burger
                float: left

            .menu-heading
                margin: auto
