@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.search-bar {
  width: 100%;
  height: clamp(27px, 12.61656vw, 108px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #9D9D9D;
  background: white;
  margin-top: clamp(16px, 7.47648vw, 64px);
}
.search-bar .search-bar-input {
  width: 55.9360730594%;
  height: 100%;
  color: #9D9D9D;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(8px, 3.73824vw, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  border: none;
  padding-left: clamp(8px, 3.73824vw, 32px);
}
.search-bar .search-bar-input:active {
  border: none;
  outline: none;
}
.search-bar .search-bar-input:focus {
  border: none;
  outline: none;
}
.search-bar .select-search-container {
  width: auto;
  display: flex;
  align-items: center;
  margin-right: clamp(8px, 3.73824vw, 32px);
}
.search-bar .select-search-container .select-list {
  width: auto;
  height: auto;
  color: #262626;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.search-bar .select-search-container .select-list:focus {
  outline: none !important;
}
.search-bar .select-search-container .select-list:active {
  outline: none !important;
}
.search-bar .select-search-container .separator {
  width: 1px;
  height: clamp(16px, 7.47648vw, 64px);
  margin-right: clamp(6px, 2.80368vw, 24px);
  margin-left: clamp(6px, 2.80368vw, 24px);
  background-color: #9D9D9D;
}
.search-bar .select-search-container .search-button {
  font-size: clamp(9px, 4.20552vw, 36px);
  color: #262626;
  background-color: transparent;
  border: none;
}

.search-bar:focus-within {
  border: 1px solid #262626;
}
.search-bar .search-bar-input {
  color: #262626;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search-bar {
    width: clamp(172.5px, 41.3669064748vw, 690px);
    height: clamp(20px, 4.7961630695vw, 80px);
    margin-top: 0px !important;
  }
  .search-bar .search-bar-input {
    width: 50%;
    height: auto;
    font-size: clamp(7px, 1.5037593985vw, 28px);
  }
  .search-bar .select-search-container {
    margin-right: clamp(8px, 1.7185821697vw, 32px);
  }
  .search-bar .select-search-container .select-list {
    width: auto;
    height: auto;
    color: #262626;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Lato;
    font-size: clamp(7px, 1.5037593985vw, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .search-bar .select-search-container:focus {
    outline: none !important;
  }
  .search-bar .separator {
    width: 1px;
    height: clamp(16px, 3.4371643394vw, 64px) !important;
    margin-right: clamp(6px, 1.4388489209vw, 24px) !important;
    margin-left: clamp(6px, 1.4388489209vw, 24px) !important;
    background-color: #9D9D9D;
  }
  .search-bar .search-button {
    font-size: clamp(9px, 1.9334049409vw, 36px) !important;
  }
}/*# sourceMappingURL=search_bar.css.map */