@import "../../../styles/variables/variables"
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap')

.margin
    display: flex
    align-items: center
    margin-top: $m32mob

    .quantity
        color: $light_text
        font-family: Lato
        font-size: $font18mob
        font-style: normal
        font-weight: 600
        line-height: 166.667%
        margin-left: $m8mob

.cards
    width: 100%
    height: auto
    display: flex
    flex-direction: column

    .card
        width: 100%
        height: auto
        display: flex
        flex-direction: column
        margin-top: $m32mob

        .card-upper-row
            width: 100%
            height: auto
            display: flex
            align-items: center

            .card-image
                width: clamp(40px,18.6912vw,160px)
                height: clamp(40px,18.6912vw,160px)

            .card-content
                display: flex
                flex-direction: column
                align-items: flex-start
                margin-left: $m16mob

                .card-heading
                    color: $primary_gray
                    font-family: Lato
                    font-size: $font16mob
                    font-style: normal
                    font-weight: 800
                    line-height: 142.857%

                .color-and-price
                    width: 100%
                    height: auto
                    display: flex
                    align-items: center
                    justify-content: space-between

                    .colors
                        display: flex
                        align-items: center

                        .color-text
                            color: $light_text
                            font-family: Lato
                            font-size: $font14mob
                            font-style: normal
                            font-weight: 400
                            line-height: 142.857%

                        .color
                            width: clamp(6px,2.80368vw,24px)
                            height: clamp(6px,2.80368vw,24px)
                            background-color: $button_blue
                            border-radius: 50px
                            margin-left: $m8mob

                    .price
                        color: $secondary_text
                        text-align: right
                        font-family: Lato
                        font-size: $font14mob
                        font-style: normal
                        font-weight: 400
                        line-height: 142.857%

        .card-lower-row
            width: 100%
            height: auto
            display: flex
            align-items: center
            justify-content: space-between
            margin-top: $m16mob

            .quantity-container
                width: auto
                display: flex
                flex-direction: row
                align-items: center

                .quantity-text
                    color: $primary_gray
                    font-family: Lato
                    font-size: $font16mob
                    font-style: normal
                    font-weight: 600
                    line-height: 206.908%

                .quantity-counter
                    width: clamp(50.5px,23.59764vw,202px)
                    height: clamp(20px,9.3456vw,80px)
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 4px
                    border: 1px solid $gray

                    .quantity-icon
                        font-size: $font14mob
                        color: $light_text

                    .minus
                        margin-right: $m16mob

                    .plus
                        margin-left: $m16mob

            .price
                color: $secondary_text
                text-align: center
                font-family: Lato
                font-size: $font14mob
                font-style: normal
                font-weight: 400
                line-height: 142.857%

            .trash-icon
                color: $secondary_text
                font-size: $font18mob

.summary
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #E9E9E9
    margin-top: $m64mob

    .summary-container
        width: 47.69874476987448%
        height: auto
        display: flex
        flex-direction: column
        align-items: flex-start

        .summary-heading
            color: $primary_gray
            font-family: Roboto Slab
            font-size: $font16mob
            font-style: normal
            font-weight: 700
            line-height: 156.25%
            margin-top: $m16mob

        .price-row, .shipping-row, .tax-row, .gift-row, .total-row
            width: 100%
            display: flex
            align-items: center
            justify-content: space-between
            margin-top: clamp(6px,2.80368vw,24px)

            .price-text, .shipping-text, .tax-text, .checkbox-label
                color: $secondary_text
                font-family: Lato
                font-size: $font14mob
                font-style: normal
                font-weight: 400
                line-height: 142.857%

            .total-text-bold, .bold-price
                color: $primary_gray
                font-family: Lato
                font-size: $font14mob
                font-style: normal
                font-weight: 700
                line-height: 142.857%

            .price
                color: $primary_gray
                text-align: right
                font-family: Lato
                font-size: $font14mob
                font-style: normal
                font-weight: 400
                line-height: 142.857%

            .checkbox-container
                display: flex
                align-items: center

                .checkbox
                    width: clamp(10px,4.6728vw,40px)
                    height: clamp(10px,4.6728vw,40px)

                .checkbox-label
                    margin-left: $m8mob

        .total-row

        .gift-row
            margin-top: clamp(10px,4.6728vw,40px)

        .separator
            width: 100%
            height: 1px
            background-color: $light_text
            margin-top: clamp(6px,2.80368vw,24px)

    .checkout-btn
        width: clamp(199px,92.98872vw,796px)
        height: clamp(28px,13.083839999999999vw,112px)
        color: $white
        text-align: right
        font-feature-settings: 'clig' off, 'liga' off
        font-family: Lato
        font-size: $font14mob
        font-style: normal
        font-weight: 500
        line-height: 142.857%
        text-transform: uppercase
        display: flex
        align-items: center
        justify-content: center
        background-color: #434343
        border-radius: 4px
        border: none
        margin-top: $m32mob
        margin-bottom: clamp(10px,4.6728vw,40px)

        .bag-icon
            color: $white
            font-size: $font20mob
            margin-right: $m8mob

.coupon-container
    width: 90%
    height: auto
    display: flex
    align-items: center
    justify-content: center
    margin: auto
    margin-top: $m32mob

    .coupon-input
        width: 50%
        height: $m64mob
        color: $secondary_text
        display: flex
        font-feature-settings: 'clig' off, 'liga' off
        font-family: Lato
        font-size: $font12mob
        font-style: normal
        font-weight: 500
        line-height: 166.667%
        text-align: center
        text-transform: capitalize
        border-bottom-left-radius: 4px
        border-top-left-radius: 4px
        border: 1px solid $gray_dark

    .apply-btn
        width: 50%
        height: $m64mob
        color: $white
        display: flex
        align-items: center
        justify-content: center
        border: none
        border: 30px solid #262626
        background-color: #262626

.empty-container
    width: 90%
    height: auto
    display: flex !important
    flex-direction: column
    align-items: center
    justify-content: center
    margin: auto

    .text-container
        width: 100%
        height: 40vh
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: $m64mob

        .icon
            font-size: $m64mob
            color: $button_blue

        .main-text
            color: $primary_gray
            font-family: Lato
            font-size: $font20mob
            font-style: normal
            font-weight: 700
            line-height: 142.857%
            margin-top: $m16mob

        .text
            width: 80%
            color: $primary_gray
            font-family: Lato
            font-size: $font16mob
            font-style: normal
            font-weight: 400
            line-height: 142.857%
            text-align: center
            margin-top: $m16mob

.cards-tablet-content
    display: none

@media (min-width: 768px) and (max-width: 1024px)

    .container

        .cards
            display: none

        .margin

            .quantity
                font-size: $font24tab

        .cards-tablet-content
            display: flex
            flex-direction: column

            .content
                display: flex
                flex-direction: row
                align-items: flex-start

                .cards-tablet
                    width: 100%
                    display: flex
                    flex-direction: column

                    .card
                        width: 80%
                        height: auto
                        display: flex
                        flex-direction: column
                        align-items: flex-start
                        margin-top: $m64tab

                        .card-upper-row
                            width: 100%
                            height: auto
                            display: flex
                            align-items: center
                            justify-content: space-between

                            .card-title-img
                                display: flex
                                flex-direction: row

                                .card-image
                                    width: clamp(30px,7.8125vw,120px)
                                    height: clamp(35px,9.114583333333334vw,140px)

                                .card-content
                                    display: flex
                                    flex-direction: column
                                    align-items: flex-start
                                    margin-left: $m16tab

                                    .card-heading
                                        color: $primary_gray
                                        font-family: Lato
                                        font-size: $font18tab
                                        font-style: normal
                                        font-weight: 800
                                        line-height: 142.857%

                                    .color-and-price
                                        width: 100%
                                        height: auto
                                        display: flex
                                        align-items: center
                                        justify-content: space-between

                                        .colors
                                            display: flex
                                            align-items: center

                                            .color-text
                                                color: $light_text
                                                font-family: Lato
                                                font-size: $font16tab
                                                font-style: normal
                                                font-weight: 400
                                                line-height: 142.857%

                                            .color
                                                width: clamp(6px,1.5625vw,24px)
                                                height: clamp(6px,1.5625vw,24px)
                                                background-color: $button_blue
                                                border-radius: 50px
                                                margin-left: $m8tab

                                    .price
                                        color: $secondary_text
                                        text-align: right
                                        font-family: Lato
                                        font-size: $font14tab
                                        font-style: normal
                                        font-weight: 400
                                        line-height: 142.857%

                        .card-lower-row
                            width: 100%
                            height: auto
                            display: flex
                            align-items: center
                            justify-content: space-between
                            margin-top: $m16tab

                            .quantity-container
                                width: auto
                                display: flex
                                flex-direction: row
                                align-items: center

                                .quantity-text
                                    color: $primary_gray
                                    font-family: Lato
                                    font-size: $font16tab
                                    font-style: normal
                                    font-weight: 600
                                    line-height: 206.908%

                                .quantity-counter
                                    width: clamp(50.5px,13.151041666666666vw,202px)
                                    height: clamp(20px,5.208333333333333vw,80px)
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                    border-radius: 4px
                                    border: 1px solid $gray

                                    .quantity-icon
                                        font-size: $font14tab
                                        color: $light_text

                                    .minus
                                        margin-right: $m16tab

                                    .plus
                                        margin-left: $m16tab

                            .price
                                color: $secondary_text
                                text-align: center
                                font-family: Lato
                                font-size: $font14tab
                                font-style: normal
                                font-weight: 400
                                line-height: 142.857%

                            .trash-icon
                                color: $secondary_text
                                font-size: $font18tab

                .summary-coupon
                    display: flex
                    flex-direction: column

                    .summary-block
                        width: auto
                        height: auto
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                        background-color: #E9E9E9
                        margin-top: $m64tab

                        .summary-container
                            width: 47.69874476987448%
                            height: auto
                            display: flex
                            flex-direction: column
                            align-items: flex-start

                            .summary-heading
                                color: $primary_gray
                                font-family: Roboto Slab
                                font-size: $font16tab
                                font-style: normal
                                font-weight: 700
                                line-height: 156.25%
                                margin-top: $m16tab

                            .price-row, .shipping-row, .tax-row, .gift-row, .total-row
                                width: 100%
                                display: flex
                                align-items: center
                                justify-content: space-between
                                margin-top: clamp(6px,1.5625vw,24px)

                                .price-text, .shipping-text, .tax-text, .checkbox-label
                                    color: $secondary_text
                                    font-family: Lato
                                    font-size: $font14tab
                                    font-style: normal
                                    font-weight: 400
                                    line-height: 142.857%

                                .total-text-bold, .bold-price
                                    color: $primary_gray
                                    font-family: Lato
                                    font-size: $font14tab
                                    font-style: normal
                                    font-weight: 700
                                    line-height: 142.857%

                                .price
                                    color: $primary_gray
                                    text-align: right
                                    font-family: Lato
                                    font-size: $font14tab
                                    font-style: normal
                                    font-weight: 400
                                    line-height: 142.857%

                                .checkbox-container
                                    display: flex
                                    align-items: center

                                    .checkbox
                                        width: clamp(10px, 2.6041666666666665vw,40px)
                                        height: clamp(10px, 2.6041666666666665vw,40px)

                                    .checkbox-label
                                        margin-left: $m8tab

                            .total-row

                            .gift-row
                                margin-top: clamp(10px,2.6041666666666665vw,40px)

                            .separator
                                width: 100%
                                height: 1px
                                background-color: $light_text
                                margin-top: clamp(6px,1.5625vw,24px)

                        .checkout-btn
                            width: clamp(114px,29.6875vw,456px)
                            height: clamp(26px,6.770833333333333vw,104px)
                            color: $white
                            text-align: right
                            font-feature-settings: 'clig' off, 'liga' off
                            font-family: Lato
                            font-size: $font14tab
                            font-style: normal
                            font-weight: 500
                            line-height: 142.857%
                            text-transform: uppercase
                            display: flex
                            align-items: center
                            justify-content: center
                            background-color: #434343
                            border-radius: 4px
                            border: none
                            margin-top: $m32tab
                            margin-bottom: clamp(10px,2.6041666666666665vw,40px)
                            margin-left: $m32tab
                            margin-right: $m32tab

                            .bag-icon
                                color: $white
                                font-size: $font20tab
                                margin-right: $m8tab

                    .coupon-container-tab
                        width: 90%
                        height: auto
                        display: flex
                        align-items: center
                        justify-content: center
                        margin: auto
                        margin-top: $m32tab

                        .coupon-input
                            width: 50%
                            height: $m64tab
                            color: $secondary_text
                            display: flex
                            font-feature-settings: 'clig' off, 'liga' off
                            font-family: Lato
                            font-size: $font12tab
                            font-style: normal
                            font-weight: 500
                            line-height: 166.667%
                            text-align: center
                            text-transform: capitalize
                            border-bottom-left-radius: 4px
                            border-top-left-radius: 4px
                            border: 1px solid $gray_dark

                        .apply-btn
                            width: 50%
                            height: $m64tab
                            color: $white
                            display: flex
                            align-items: center
                            justify-content: center
                            border: none
                            border: 30px solid #262626
                            background-color: $primary_gray

    .summary
        display: none

    .coupon-container
        display: none
