@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.top-card {
  width: clamp(140px, 65.4192vw, 560px);
  height: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.top-card .top-image {
  width: 100%;
  height: auto;
}
.top-card .top-card-container {
  width: 78.5714285714%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-top: clamp(10px, 4.6728vw, 40px);
  margin-bottom: clamp(10px, 4.6728vw, 40px);
}
.top-card .top-card-container .upper-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-card .top-card-container .upper-content .text-content {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top-card .top-card-container .upper-content .text-content .top-name {
  color: #262626;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: 166.667%;
}
.top-card .top-card-container .upper-content .text-content .description {
  color: #555555;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(5px, 2.3364vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.top-card .top-card-container .upper-content .heart-button {
  font-size: clamp(12px, 5.60736vw, 48px);
  color: #28303F;
  border: none;
  background-color: transparent;
}
.top-card .top-card-container .upper-content .heart-button-active {
  font-size: clamp(12px, 5.60736vw, 48px);
  color: #FF477E;
  border: none;
  background-color: transparent;
}
.top-card .top-card-container .rating-container {
  display: flex;
  align-items: center;
  margin-top: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .rating-container .rating {
  color: #FFC000;
  font-size: clamp(10px, 4.6728vw, 40px);
}
.top-card .top-card-container .rating-container .rating-quantity {
  color: #555555;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 208.333%;
  margin-left: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .price-container {
  display: flex;
  align-items: center;
  margin-top: clamp(6px, 2.80368vw, 24px);
  margin-bottom: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .price-container .current-price {
  color: #FF2E00;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
}
.top-card .top-card-container .price-container .original-price {
  color: #555555;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  text-decoration: line-through;
  text-decoration-line: strikethrough;
  margin-left: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .price-container .discount {
  color: #FF2E00;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  margin-left: clamp(6px, 2.80368vw, 24px);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-card {
    width: clamp(175px, 41.9664268585vw, 700px) !important;
    height: auto;
  }
  .top-card .top-card-container {
    margin-top: clamp(8px, 1.7185821697vw, 32px);
    margin-bottom: clamp(8px, 1.7185821697vw, 32px);
  }
  .top-card .top-card-container .upper-content .text-content .top-name {
    font-size: clamp(10px, 2.1482277121vw, 40px) !important;
  }
  .top-card .top-card-container .upper-content .text-content .description {
    font-size: clamp(7px, 1.5037593985vw, 28px) !important;
  }
  .top-card .top-card-container .upper-content .heart-button, .top-card .top-card-container .upper-content .heart-button-active {
    font-size: clamp(12px, 2.5778732546vw, 48px) !important;
  }
  .top-card .top-card-container .rating-container {
    display: flex !important;
    align-items: center !important;
    margin-top: clamp(4px, 0.8592910849vw, 16px) !important;
  }
  .top-card .top-card-container .rating-container .rating {
    display: flex !important;
    align-items: center !important;
  }
  .top-card .top-card-container .rating-container .rating .rating {
    font-size: clamp(8px, 1.7185821697vw, 32px) !important;
  }
  .top-card .top-card-container .rating-container .rating-quantity {
    font-size: clamp(8px, 1.7185821697vw, 32px) !important;
    margin-left: clamp(6px, 1.5625vw, 24px) !important;
  }
  .top-card .top-card-container .price-container {
    margin-top: clamp(4px, 0.8592910849vw, 16px) !important;
  }
  .top-card .top-card-container .price-container .current-price {
    font-size: clamp(10px, 2.1482277121vw, 40px) !important;
  }
  .top-card .top-card-container .price-container .original-price {
    font-size: clamp(9px, 1.9334049409vw, 36px) !important;
  }
  .top-card .top-card-container .price-container .discount {
    font-size: clamp(9px, 1.9334049409vw, 36px) !important;
  }
}
.top-card {
  width: 300px;
  height: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.top-card .top-image {
  width: 100%;
  height: auto;
}
.top-card .top-card-container {
  width: 78.5714285714%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-top: clamp(10px, 4.6728vw, 40px);
  margin-bottom: clamp(10px, 4.6728vw, 40px);
}
.top-card .top-card-container .upper-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-card .top-card-container .upper-content .text-content {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top-card .top-card-container .upper-content .text-content .top-name {
  color: #262626;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: 166.667%;
}
.top-card .top-card-container .upper-content .text-content .description {
  color: #555555;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(5px, 2.3364vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.top-card .top-card-container .upper-content .heart-button {
  font-size: clamp(12px, 5.60736vw, 48px);
  color: #28303F;
  border: none;
  background-color: transparent;
}
.top-card .top-card-container .upper-content .heart-button-active {
  font-size: clamp(12px, 5.60736vw, 48px);
  color: #FF477E;
  border: none;
  background-color: transparent;
}
.top-card .top-card-container .rating-container {
  display: flex;
  align-items: center;
  margin-top: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .rating-container .rating {
  color: #FFC000;
  font-size: clamp(10px, 4.6728vw, 40px);
}
.top-card .top-card-container .rating-container .rating-quantity {
  color: #555555;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 208.333%;
  margin-left: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .price-container {
  display: flex;
  align-items: center;
  margin-top: clamp(6px, 2.80368vw, 24px);
  margin-bottom: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .price-container .current-price {
  color: #FF2E00;
  font-family: Lato;
  font-size: clamp(7px, 3.27096vw, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
}
.top-card .top-card-container .price-container .original-price {
  color: #555555;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  text-decoration: line-through;
  text-decoration-line: strikethrough;
  margin-left: clamp(6px, 2.80368vw, 24px);
}
.top-card .top-card-container .price-container .discount {
  color: #FF2E00;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: clamp(6px, 2.80368vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  margin-left: clamp(6px, 2.80368vw, 24px);
}/*# sourceMappingURL=top_card.css.map */