@import "../../../styles/variables/variables"

.spotlight
    width: 100%
    height: auto
    display: flex
    justify-content: space-between
    align-items: center

    .spotlight-content
        display: flex
        flex-direction: column
        justify-content: flex-start

    .spotlight-content
        width: clamp(109.5px,51.167159999999996vw,438px)
        height: 100%
        margin-left: 20px

        .spotlight-button
            display: flex
            align-items: flex-start
            font-size: $font18mob
            font-feature-settings: 'clig' off, 'liga' off
            font-family: Lato
            font-style: normal
            font-weight: 400
            line-height: 200%
            color: $white
            text-decoration-line: underline
            background-color: transparent
            border: none
            margin-top: $m8mob

    .spotlight-image
        width: 50%

.red
    background-color: $spotlight_red

.blue
    background-color: $spotlight_blue

@media (min-width: 768px) and (max-width: 1024px)

    .spotlight
        display: none
